.info {
  margin-top: -8vh;
  position: absolute;
  z-index: 3;
  padding: 20px 35px 35px;
  width: 80%;
  border-radius: 10px;
  display: grid;
  background-color: white;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: minmax(100px, 1fr) 1fr 1fr 1fr;
  text-align: justify;
}

.information:first-child {
  border: none;
}

.information {
  max-height: 120px;
  padding: 0 0 0 10px;
  color: hsl(0, 0%, 59%);
  border-left: 1px solid hsl(0, 0%, 59%);
}

.information span {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.information p {
  padding: 10px;
  font-size: 18px;
  word-break: break-word;
  color: hsl(0, 0%, 17%);
  font-weight: 700;
}

@media (max-width: 1020px) {
  .information p {
    padding: 8px;
    font-size: 15px;
  }
}

@media (max-width: 510px) {
  .info {
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  }
  .information {
    padding: 0px;
    border: none;
  }
}

@media (max-width: 375px) {
  .info {
    text-align: center;
  }
  .information span {
    font-size: 9px;
  }
  .information p {
    word-break: keep-all;
  }
}

@media (max-width: 270px) {
  .info {
    padding: 10px;
  }
}
